NEXUS_ENV=development
LOG_LEVEL=info
NEXUS_HOME=.nexus
NEXUS_DATA_DIR=
NEXUS_WORKSPACE_DATA=
NEXUS_LOCALE=en-US
NEXUS_UPDATE_CHANNEL=stable
NEXUS_AUTO_UPDATE=0
NEXUS_FEATURE_FLAGS_FILE=
NEXUS_FEATURE_FLAGS_URL=
NEXUS_FEATURE_FLAGS=
